<div class="ui special four cards doubling tours container">
  <% @registrations.each do |event_registration| %>
  <% tour = event_registration.tour %>
  <div class="ui card">
    <div class="content">
      <span class="right floated meta">
        <div class="ui yellow disabled rating" data-icon="star" data-max-rating=5 data-rating="<%= event_registration.comment&.rating %>"></div>
      </span>
      <span class="left floated meta">
        <%= guide_image(tour.guide, [28, 28], class: 'ui avatar image') %>
        <%= link_to tour.guide.user.firstname, guide_path(tour.guide) %>
      </span>
    </div>
    <div>
      <div class="ui basic button float live <%= 'red' if event_registration.event.cancelled? %>">
        <% if event_registration.event.cancelled? %>
          <i class="exclamation icon"></i><%= t('tour.cancelled') %><br>
        <% end %>
        <%= l(event_registration.event.date, format: :long_with_day) %>
      </div>
    </div>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <%= link_to t('tours.select_tour'), tour_path(tour), class: "ui inverted button" %>
          </div>
        </div>
      </div>
      <%= tour_thumbnail(tour, [266, 170], class: 'thumbnail') %>
    </div>
    <div class="content">
      <div class="header"><%= link_to tour.title, tour_path(tour) %></div>
      <div class="meta"><%= tour.subtitle %></div>
    </div>
    <div class="extra content">
      <span class="right floated">
        <a href="#" tooltip=""><i class="facebook icon with_popup" data-content="<%= t('registration.share_on') %> Facebook"></i></a>
        <a href="#"><i class="twitter icon with_popup" data-content="<%= t('registration.share_on') %> Twitter"></i></a>
        <a href="#"><i class="linkedin icon with_popup" data-content="<%= t('registration.share_on') %> LinkedIn"></i></a>
        <a href="#"><i class="instagram icon with_popup" data-content="<%= t('registration.share_on') %> Instragram"></i></a>
      </span>
      <%= link_to "#{tour_path(tour)}#comments" do %>
      <% if event_registration.comment %>
      <i class="comment blue icon with_popup" data-content="<%= t('registration.edit_a_comment') %> "></i>
      <% else %>
      <i class="comment icon with_popup" data-content="<%= t('registration.leave_a_comment') %> "></i>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>