<%= form_with(model: event_registration) do |form| %>
  <% if event_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_registration.errors.count, "error") %> prohibited this event_registration from being saved:</h2>

      <ul>
        <% event_registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
