<h3 class="ui segment site-section"><%= t('registration.upcoming_tours') %></h3>
<% if @upcoming_registrations.any? %>
<%= @registrations = @upcoming_registrations; render 'event_registrations' %>
<% else %>
<div class="ui container center aligned segment">
<%= t('registration.no_upcoming_tour') %><br><br><%= link_to t('registration.plan_a_tour'), events_tours_path %>
</div>
<% end %>
<h3 class="ui segment site-section"><%= t('registration.previous_tours') %></h3>
<% if @previous_registrations.any? %>
<%= @registrations = @previous_registrations; render 'event_registrations' %>
<% else %>
<div class="ui container center aligned segment">
<%= t('registration.no_previous_tour') %>
</div>
<% end %>
<h3 class="ui segment site-section"><%= t('registration.suggested_tours') %></h3>
<div class="ui container">
<%= render 'tours/tours', items: @suggested_tours %>
</div>