<%= javascript_tag do %>
  function showHidePaymentTypeFields(element) {
    if (element.value === 'mangopay_ewallet') {
      document.getElementById("ewallet_amount_container").style.display = 'block';
    } else {
      document.getElementById("ewallet_amount_container").style.display = 'none';
    }
  }
<% end %>
<div class="page_with left_margin">
  <div class="content">
    <div class="large column">
      <h2 class="ui header">
        <div class="content">
          <%= t('events.leave_a_tip') %>
        </div>
      </h2>
      <% if @payment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being processed:</h2>
      
          <ul>
            <% @payment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= t('events.choose_your_currency_and_amount') %>
      <p><%= t('events.e_wallet_explaination_html') %></p>
      <%= form_with model: @payment, url: pay_event_registration_path(@event_registration), method: "post" do |form| %>  
        <div class="ui form">
          <div class="field">
            <%= form.label :payment_type %>
            <%= form.select :payment_type, @payment_types, {}, {"onchange" => "showHidePaymentTypeFields(this)"} %><br>
          </div>
          <div class="field" style="display: <%= @payment.payment_type === 'mangopay_ewallet' ? 'block' : 'none' %>;" id="ewallet_amount_container">
            <%= form.label :ewallet_amount %>
            <%= form.text_field :ewallet_amount, {"type" => "number"} %><br>
          </div>
          <div class="field">
            <%= form.label :amount %>
            <%= form.text_field :amount, {"type" => "number"} %><br>
          </div>
          <div class="field">
            <%= form.label :currency %>
            <%= form.select :currency, @currencies %><br>
          </div>
          <div class="actions">
            <%= form.submit t('events.submit_payment') %><br>
          </div>
        </div>
      <% end %>
      <p><%= t('events.min_amount') %></p>
      <p><%= t('events.help_tip_amount_html') %></p>
    </div>
  </div>
</div>
  