<%= form_tag(events_tours_path, method: "get", class: "ui form tour filter") do %>
  <%= text_field_tag(:filter_type, :topic, hidden: true) %>
  <%= render 'filter_language' %>
  <div class="ui field list">
    <label><%= t('tours.topic') %></label>
    <% @topic_list.each do |topic| %>
      <div class="ui item checkbox">
        <%= check_box_tag(topic, 1, @filter_by_topic[topic]) %>
        <%= label_tag(t("tours.#{topic}")) %>
      </div>
    <% end %>
  </div> 
  <%= submit_tag(t('tours.filter'), class: "ui button") %>
<% end %>
