<%= form_tag(events_tours_path, method: "get", class: "ui form tour filter", id: 'filter_by_date_form') do %>
  <%= text_field_tag(:filter_type, :date, hidden: true) %>
  <%= render 'filter_language' %>
  <div class="field">
    <%= label_tag(:start_date, t('tours.start_date')) %>
    <div class="ui calendar" id="rangestart">
      <div class="ui input left right icon">
        <i class="calendar left icon"></i>
        <%= text_field_tag(:start_date_t, nil, placeholder: t('tours.start_date')) %>
        <i class="remove right link icon"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <%= label_tag(:end_date, t('tours.end_date')) %>
    <div class="ui calendar" id="rangeend">
      <div class="ui input left right icon">
        <i class="calendar left icon"></i>
        <%= text_field_tag(:end_date_t, nil, placeholder: t('tours.end_date')) %>
        <i class="remove right link icon"></i>
      </div>
    </div>
  </div>
  <%= text_field_tag(:start_date, @filter_by_date[:start_date], hidden: true, class: 'submitOnChange') %>
  <%= text_field_tag(:end_date, @filter_by_date[:end_date], hidden: true, class: 'submitOnChange') %>
  <div class="field timeofday">
    <label><%= t('tours.timeoftheday') %></label>
    <div class="ui labeled range slider" id="timeofday_range_slider"></div>
    <span style="margin-left: 2em; margin-bottom: 1em;" id='timeofday_begin_s'></span>
    <span style="margin-right: 2em; margin-bottom: 1em; float: right;" id='timeofday_end_s'></span>
    <%= text_field_tag(:timeofday_begin, @filter_by_date[:timeofday_begin], hidden: true, class: 'submitOnChange') %>
    <%= text_field_tag(:timeofday_end, @filter_by_date[:timeofday_end], hidden: true, class: 'submitOnChange') %>
  </div>
  <div class="ui field list">
    <label><%= t('tours.dayoftheweek') %></label>
    <% day_names = I18n.t('date.day_names').map.with_index.to_a %>
    <% day_names.push(day_names.shift) if I18n.locale == :fr %>
    <% day_names.each do |day, day_id| %>
      <div class="ui item checkbox">
        <%= check_box_tag('dayofweek[]', day_id, @filter_by_date[:dayofweek]&.include?(day_id.to_s), id: "dayofweek_#{day_id}", class: 'submitOnChange') %>
        <%= label_tag(day) %>
      </div>
    <% end %>
  </div>
<% end %>
