<%= form_tag(events_tours_path, method: "get", class: "ui form tour submitOnChange filter") do %>
  <%= text_field_tag(:filter_type, :location, hidden: true) %>
  <%= render 'filter_language' %>
  <div class="field">
    <%= label_tag(:location, t('tours.location')) %>
    <div class="ui left icon input">
      <%= text_field_tag(:location, @filter_by_location[:location], placeholder: t('tours.location'), class: 'submitOnChange') %>
      <i class="search icon"></i>
    </div>
  </div>
  <% [:region, :country].each do |f| %>
  <div class="field">
    <%= label_tag(f, t("tours.#{f}")) %>
    <%= select_tag(f, options_for_select(@options[f].map{|v| [t("#{f}.#{v.last || v.first}"), v.last || v.first]}, @filter_by_location[f]), include_blank: true, placeholder: t("tours.#{f}"), class: "ui search clearable selection defaultdd dropdown submitOnChange") %>
  </div>
  <% end %>
<% end %>
