<%= form_with(model: tour) do |form| %>
<div class="ui form">
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
        <% tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? && @tour.new_record? %>
  <div class="field">
    <%= form.label :guide_id %>
    <%= form.select :guide_id, options_for_select(Guide.joins(:user).order('users.firstname').pluck('users.firstname', 'id'), @suggested_guide_id) %>
  </div>
  <% end %>

  <% if current_user.admin? %>
  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>
  <% end %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.select :language, options_for_select(Tour::LANGUAGE.map{|code, value| [value, code]}, tour.language) %>
  </div>


  <div class="field">
    <%= form.label :country_id %>
    <%= form.select :country_id, options_for_select(Country.order(:country).pluck(:country, :id), tour.country_id), prompt: true %>
  </div>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_area :short_description, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 8 %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= select_tag 'tour[duration]', options_for_select(Tour::POSSIBLE_DURATIONS.map { |v| [t("duration.#{v}"), v] }, tour.duration&.iso8601) %>
  </div>

  <div class="two fields">
    <div class="field">
      <%= form.label :image %>
      <%= tour_image(tour, [450, 300], class: 'ui image', use: :text) %>
      <%= form.file_field :image, multiple: false, direct_upload: true %>
    </div>
    <div class="field">
      <%= form.label :thumbnail %>
      <%= tour_thumbnail(tour, [266, 170], class: 'ui image', use: :text) %>
      <%= form.file_field :thumbnail, multiple: false, direct_upload: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit t('tour.save'), class: "ui button" %>
  </div>
</div>
<% end %>
