<div class="ui special four cards doubling tours">
  <% items.each do |tour_or_event|
    case tour_or_event
    when Tour
      tour = tour_or_event
      event = tour.next_event
    when Event
      event = tour_or_event
      tour = event.tour
    end %>
  <div class="tour ui card">
    <div class="nogrow content">
      <span class="right floated meta">
        <%= link_to "#{tour_path(tour)}#comments" do %>
          <% if tour.rating %>
          <i class="yellow star icon"></i><%= tour.rating.round(1) %>
          <% else %>
          <i class="grey star icon"></i>
          <% end %>
        <% end %>
      </span>
      <% if tour.guide %>
      <span class="left floated meta">
        <%= guide_image(tour.guide, [28, 28], class: 'ui avatar image') %>
        <%= link_to tour.guide.user.firstname, guide_path(tour.guide) %>
      </span>
      <% end %>
    </div>
    <% if event&.cancelled? %>
      <div class="ui red basic button float live">
        <i class="exclamation icon"></i><%= t('tour.cancelled') %>
      </div>
    <% elsif event&.live? %>
      <%= link_to event_path(event) do %>
      <div class="ui red basic button float live">
        <i class="video icon"></i><%= t('tour.live') %>
      </div>
      <% end %>
    <% end %>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <%= link_to t('tours.select_tour'), tour_path(tour), class: "ui inverted button" %>
          </div>
        </div>
      </div>
      <%= tour_thumbnail(tour, [266, 170], class: 'thumbnail') %>
    </div>
    <div class="content">
      <div class="header">
        <% if !tour.published %>
          <i class="eye slash outline icon"></i> - 
        <% end %>
        <%= link_to tour.title, tour_path(tour) %>
      </div>
      <div class="meta"><%= tour.subtitle %></div>
      <% if event %>
      <%= l(event.date, format: :long_with_day) %>
      <% end %>
    </div>
    <div class="extra nogrow content">
      <%= link_to "#{tour_path(tour)}#comments" do %>
      <i class="comment icon"></i>
      <%= tour.comments_count || 0 %> <%= t('tours.comment').pluralize(tour.comments_count || 1) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>