  <div class="form column">
    <div class="ui segment">
      <h2 class="ui header"><%= t('.edit_registration') %></h2>
      <% form_error = resource.errors.any? ? ['error'] : [] %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: %W[ui large form]+form_error }) do |f| %>
        <div class="ui error message">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
        <div class="field devise left">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, autofocus: true, autocomplete: "given-name", placeholder: t('activerecord.attributes.user.firstname') %>
        </div>
        <div class="field devise left">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, autocomplete: "family-name", placeholder: t('activerecord.attributes.user.lastname') %>
        </div>
        <div class="field devise left">
          <%= f.label :birthdate %>
          <div class="inline fields">
            <%= f.date_select :birthdate, start_year: 1900, end_year: Date.today.year, prompt: true, class: 'ui field' %>
          </div>
        </div>
        <div class="field devise left">
          <%= f.label :nationality %>
          <%= f.collection_select :nationality, Country.order(:country).pluck(:code, :country), :first, :last, prompt: true %>
        </div>
        <div class="field devise left">
          <%= f.label :country %>
          <%= f.collection_select :country, Country.order(:country).pluck(:code, :country), :first, :last, prompt: true %>
        </div>
        <div class="field devise left">
          <%= f.label :timezone %>
          <%= f.collection_select :timezone,  TimeZone.all.sort_by(&:friendly_identifier), :zone_identifier, :friendly_identifier, {}, class: "timezone dropdown search" %>
        </div>
        <div class="field devise left">
          <%= f.label :language %>
          <%= f.collection_select :language,  User::LANGUAGE_NAMES, :first, :last %>
        </div>
        <%= render 'tour_language_field', f: f %>
        
        <div class="field devise left">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", placeholder: t('activerecord.attributes.user.email') %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <i><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></i>
          <% end %>
        </div>

        <div class="field devise left">
          <div class="ui checkbox">
          <%= f.check_box :accept_google_analytics, {}, 'true', 'false' %>
          <%= f.label :accept_google_analytics %>
          </div>
        </div>

        <%= f.submit t('.update'), class: %W[ui primary submit button] %>
      <% end %>
    </div>
    <div class="ui segment">
      <h3 class="ui header"><%= t('.change_password') %></h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'edit_password_form', method: :put, class: %W[ui large form]+form_error }) do |f| %>
        <div class="field devise left">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
        <div class="field devise left">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "password", placeholder: t('activerecord.attributes.user.password') %>
        </div>
        <div class="field devise left">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "password", placeholder: t('activerecord.attributes.user.password_confirmation') %>
        </div>
        <%= f.submit t('.update'), class: %W[ui primary submit button] %>
      <% end %>

    </div>
    <div class="ui segment">
      <h3 class="ui header"><%= t('.cancel_my_account') %></h3>
      <p><%= t('.unhappy') %></p><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: %W[ui button] %>
    </div>
  </div>
