  <div class="form column">
    <div class="ui segment">
      <h2 class="ui header"><%= t('.sign_up') %></h2>
      <% form_error = resource.errors.any? ? ['error'] : [] %>
      <%= form_for(resource, as: resource_name, url: create_user_registration_path, html: { class: %W[ui large form]+form_error }) do |f| %>
        <div class="ui error message">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
        <div class="field devise left">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, autofocus: true, autocomplete: "given-name", placeholder: t('activerecord.attributes.user.firstname') %>
        </div>
        <div class="field devise left">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, autocomplete: "family-name", placeholder: t('activerecord.attributes.user.lastname') %>
        </div>
        <div class="field devise left">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", placeholder: t('activerecord.attributes.user.email') %>
        </div>
        <div class="field devise left">
          <%= f.label :timezone %>
          <%= f.collection_select :timezone, TimeZone.all.sort_by(&:friendly_identifier), :zone_identifier, :friendly_identifier, {}, class: "timezone dropdown search" %>
        </div>
        <div class="field devise left">
          <%= f.label :language %>
          <%= f.collection_select :language,  User::LANGUAGE_NAMES, :first, :last %>
        </div>
        <%= render 'tour_language_field', f: f %>
        <div class="field devise left">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "password", placeholder: t('activerecord.attributes.user.password') %>
        </div>
        <div class="field devise left">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "password", placeholder: t('activerecord.attributes.user.password_confirmation') %>
        </div>
        <div class="field devise left">
          <div class="ui checkbox">
            <%= check_box_tag :accept_terms_and_conditions %>
            <label for="accept_terms_and_conditions">
              <%= t('application.accept_terms_and_conditions.message_html',
                link: link_to(t('application.accept_terms_and_conditions.terms_and_conditions'), cgu_url)) %>
            </label>
          </div>
        </div>
        <div class="field devise left">
          <div class="ui checkbox">
            <%= f.check_box :accept_google_analytics, {}, 'true', 'false' %>
            <%= f.label :accept_google_analytics %>
          </div>
        </div>
        <%= f.submit t('.sign_up'), class: %W[ui primary submit button] %>
      <% end %>
    </div>
    <div class="ui message left devise">
      <%= render "devise/shared/links" %>
    </div>
  </div>
