<% collection.each do |comment|%>     
<div class="comment">
  <div class="content">
    <a class="author"><%= comment.event_registration.user.firstname %></a>
    <div class="metadata">
      <div class="date"><%= l(comment.created_at, format: :long_with_day) %></div>
      <div class="rating hideonedit"><% comment.rating.to_i.times do %><i class="star icon"></i><% end %></div>
    </div>
    <div class="text hideonedit"><%= comment.comment %></div>
    <% if comment.event_registration.user == current_user %>
    <div class="actions">
      <a class="ui small button editcomment hideonedit">Edit</a>
      <%= link_to 'Delete', comment_path(comment), class: 'reply', data: {:confirm => 'Are you sure?'}, :method => :delete, remote: true %>
      <%= render 'comments/form', comment: comment, visible: false %>
    </div>
    <% else %>
    <div class="actions">
      <a class="ui small button">Helpful</a>
      <a class="reply">Report abuse</a>
    </div>
    <% end %>
  </div>
</div>
<% end %>