<%= form_with(model: comment, class: visible ? 'ui reply form' :  'ui reply form showonedit hidden', local: false) do |form| %>
<% if comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form.text_field :event_registration_id, hidden: true %>

<div class="field">
  <%= form.label :rating %>
  <div class="ui yellow rating" data-icon="star" data-rating="<%= comment.rating %>" data-max-rating="5"></div>
  <%= form.text_field :rating, hidden: true %>
</div>

<div class="field">
  <%= form.label :comment %>
  <%= form.text_area :comment %>
</div>

<% if comment.new_record? %>
<button type="submit" class="ui primary submit labeled icon button"><i class="icon edit"></i>Add Comment</button>
<% else %>
<button type="submit" class="ui primary submit labeled icon button"><i class="icon edit"></i>Edit Comment</button>
<% end %>
<% end %>