<h2 class="ui segment site-section">
  <%= t('.next_events') %>
</h2>
<div class="ui container">
  <div class="ui large relaxed divided list">
    <% @events.each do |event| %>
    <div class="item guide_event">
      <div class="right floated content">
      <% if event.cancelled? %>
        <div class="ui button basic disabled"><%= t('.cancelled') %></div>
      <% else %>
        <%= link_to t('.cancel'),
          event_path(event),
          data: {:confirm => 'Are you sure you want to cancel this event?'},
          :method => :delete, class: 'ui basic button' %>
        <% if event.can_be_started? %>
          <%= link_to t('.start'), guide_event_path(event), class: "ui button primary" %>
        <% else %>
        <span data-variation="basic fixed" data-tooltip="<%= t('.wait', minutes_before: Event::BOOK_ZOOM_LICENSE_BEFORE_EVENT_IN_MINUTES) %>">
          <%= link_to t('.start'), guide_event_path(event), class: "ui button primary disabled" %>
        </span>
        <% end %>
      <% end %>
      </div>
      <%= tour_thumbnail(event.tour, [266, 170], class: 'ui avatar image') %>
      <div class="content">
      <%= link_to [event.tour.title, event.tour.subtitle].compact.join(' - '), tour_path(event.tour), class: "header" %>
      <%= content_tag(:div, l(event.date, format: :long_with_day), class: "description") %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<p></p>
