<%= form_with(model: guide) do |form| %>
<div class="ui form">
  <% if guide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guide.errors.count, "error") %> prohibited this guide from being saved:</h2>

      <ul>
        <% guide.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if current_user.admin? %>
  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>
  
  <div class="field">
    <%= form.label :user_id %>
    <% if User.count < 20 %>
    <%= form.select :user_id, User.where(guides_count: 0).order(:firstname, :lastname).pluck(:id, :firstname, :lastname).map { |r| ["#{r[1]} #{r[2]} (#{r[0]})", r[0]] } %>
    <% else %>
    <%= form.text_field :user_id %>
    <% end %>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :short_description %>
    <%= form.text_area :short_description, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 8 %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :topics %>
    <%= form.text_field :topics %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, multiple: false, direct_upload: true %>
  </div>
  
  <div class="actions">
    <%= form.submit 'Save', class: "ui button" %>
  </div>
</div>
<% end %>
