<% if current_user&.admin? || current_user&.id == @guide.user_id %>
<div class="ui segment container raised">
  <div class="column">
    <div class="ui header"><%= t('tour.admin_panel') %></div>
    <p><%= link_to t('guide.edit'), edit_guide_path(@guide.user) %><br>
    <%= link_to t('guide.new_tour'), new_tour_path(params: {guide_id: @guide.user.id}) %></p>
  </div>
</div>
<% end %>
<div class="page_with right_margin">
  <div class="content">
    <div class="small column">
      <%= guide_image(@guide, [300, 300], class: 'ui left floated medium image circular') %>
      <h2 class="ui header">
        <% if !@guide.published %>
          <i class="eye slash outline icon"></i> - 
        <% end %>
        <%= @guide.user.firstname %>
        <% if current_user&.admin? %>
          <%= link_to edit_guide_path(@guide) do %>
            <i class="edit icon"></i>
          <% end %>
          <%= link_to guide_path(@guide),  data: {:confirm => 'Are you sure?'}, :method => :delete do %>
            <i class="trash alternate icon"></i>
          <% end %>
        <% end %>
        <div class="sub header"><%= @guide.location %></div>
      </h2>
      <div class="content"><%= @guide.short_description %></div>
    </div>
  </div>
  <div class="margin registration panel">
    <%= render 'events/event_list_card', show_title: true, events: @guide.future_events.select{|e| e.tour.published}.first(5), user_event_registrations_by_event_id: @user_event_registrations_by_event_id %>
  </div>
  <div class="content">
    <h3 class="ui segment site-section"><%= t('guide.about', guide: @guide.user.firstname) %></h3>
    <div class="large column">
      <% (@guide.description || '').split("\n").each do |line| %>
      <p><%= line %></p>
      <% end %>
    </div>
    <% if @guide.comments.any? %>
    <h3 class="ui segment site-section"><%= t('guide.reviews', guide: @guide.user.firstname) %></h3>
    <div class="large column">
      <div class="ui comments">
        <%= render 'comments/collection', collection: @guide.comments %>
      </div>
    </div>
    <% end %>
    <h3 class="ui segment site-section"><%= t('guide.all_tours', guide: @guide.user.firstname) %></h3>
    <div class="large column">
      <%= render 'tours/tours', items: @guide.tours.select(&:published) %>
    </div>
  </div>
</div>
