<%= form_with(model: live_registration, method: 'delete') do |f| %>
<div class="ui modal" id="live_event_modal">
  <i class="close icon"></i>
  <div class="header">
    <%= t('application.live_event') %>
  </div>
  <div class="image content">
    <div class="ui image">
      <%= tour_image(live_registration.tour, [450, 300]) %>
    </div>
    <div class="description">
      <div class="ui header"><%= t('application.tour_is_live') %></div>
      <p><%= t('application.tour_scheduled_is_live', date: l(live_registration.event.date, format: :long_with_day)) %></p>
      <% if live_registration.event.date < Time.now.round %>
        <p><%= t('application.tour_still_live', ago: distance_of_time_in_words_to_now(live_registration.event.date)) %></p>
      <% else %>
        <p><%= t('application.tour_about_to_start', in: distance_of_time_in_words_to_now(live_registration.event.date)) %></p>
      <% end %>
      <p>
    </div>
  </div>
  <div class="actions">
    <%= f.submit t('tour.unregister'), class: "ui black deny button" %>
    <%= link_to event_path(live_registration.event), class: "ui positive right labeled icon button" do %>
      <%= t('application.join_now') %>
      <i class="checkmark icon"></i>
    <% end %>
  </div>
</div>
<% end %>
